{% extends 'base/base.html' %}
{% block content %}
<style>
  .home-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>
<h1>Home</h1>
<div class="home-container">
  <div>
    <h3>Browse Topic</h3>
    <hr>
    {% for topic in topics %}
    <div>
      <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>
  <div >
    <a href="{% url 'create_room' %}">Create Room</a>
    <h3>{{rooms_count}} rooms available</h3>
    <table style="border: 1px solid;">
        <tr style="border: 1px solid;">
          <th style="border: 1px solid;">id</th>
          <th style="border: 1px solid;">Host</th>
          <th style="border: 1px solid;">Name</th>
          <th style="border: 1px solid;">Description</th>
        </tr>
        {% for room in rooms %}
        <tr>
            <td style="border: 1px solid;">{{room.id}}</td>
            <td style="border: 1px solid;">{{room.host}}</td>
            <td style="border: 1px solid;"><a href="{% url 'room' room.id %}">{{room.name}}</a></td>
            <td style="border: 1px solid;">{{room.description}}</td>
            <td style="border: 1px solid;"><a href="{% url 'edit_room' room.id %}">Edit</a></td>
            <td style="border: 1px solid;"><a href="{% url 'delete_room' room.id %}">Delete</a></td>

            
        </tr>
        {% endfor %}
        
      </table>
  </div>

</div>

{% endblock %}